* text=auto
*.php linguist-vendored=true
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
*.sql linguist-vendored
*.vue linguist-vendored
CHANGELOG.md export-ignore
